<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#f2f2f2">

<!-- end custom head snippets -->

<!-- custom -->
<style>
    .div1{
        width: 20%;
        float: left;
    }
    .div2{
        width: 80%;
        float: right;
    }
    .box {
        background-color : #7F7F7F;
        border-radius: 10px;
        text-align: center
    }
</style>

<!-- Adobe Fonts -->
<script>
(function(d) {
    var config = {
    kitId: 'hex0kuj',
    scriptTimeout: 3000,
    async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
})(document);
</script>

<!-- Markmap -->
<script src="https://cdn.jsdelivr.net/npm/d3@6.2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/markmap-view@0.14.5-alpha.13+50ca560"></script>
<script src="https://cdn.jsdelivr.net/npm/markmap-toolbar@0.14.5-alpha.13+50ca560/dist/index.js"></script>