<div class="home__section-contents">
    <div class="home__section-card" OnClick="location.href ='/projects/aimlfw/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                O-RAN SC<br>AIMLFW
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/oran_aimlfw.jpg"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/projects/fellowship/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                SKT AI<br>Fellowship
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/fellowship.png"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/projects/bluetooth/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                Bluetooth
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/bluetooth.jpeg"></img>
    </div>
</div>