<div class="home__section-contents">
    <div class="home__section-card" OnClick="location.href ='/study/paper_review/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                Paper Review
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/paper.jpg"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/study/communication/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                Communication
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/antenna.jpg"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/study/data_analysis/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                Data Analysis
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/data.jpeg"></img>
    </div>
</div>
