.blog__container {
    transition: 0.2s all;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 4em;
    background-color: #fff;
    border: 1px solid $callout-color;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        flex-direction: row;
        width: $medium;
        border-radius: 1.5em;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
    &:hover {
        transform: scale(0.97);
    }
}
.blog__info {
    order: 2;
    width: 90%;
    @include breakpoint($medium) {
        order: 1;
        width: 50%;
        padding-left: 1em;
    }
    >p {
        max-width: 25em;
    }
}
.blog__category {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray;
    margin-bottom: 0.5em;
}
.blog__title {
    font-family: $title-font;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 0.5em;
}
.blog__description {
    font-weight: 700;
    font-size: 1em;
    color: $gray;
}
.blog__teaser {
    order: 1;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include breakpoint($medium) {
        order: 2;
        width: 50%;
        margin-bottom: 0em;
    }
}
.blog__image {
    border: 1px solid $callout-color;
    border-radius: 2.5em;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
    @include breakpoint($medium) {
        height: 200px;
        width: 350px;
        border-radius: 1.5em;
        margin-bottom: 0;
    }
    @include breakpoint($large) {
        height: 300px;
        width: 450px;
    }
}

.blog__meta {
    font-size: 1em;
    width: 100%;
    text-align: left;
    color: $gray;
    margin-bottom: 0;
    font-family: 'SUIT';
    @include breakpoint($medium) {
        font-size: 1.5em;
        text-align: center;
        font-family: $title-font;
    }
}