.home-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: $max-width;
    >h2 {
        color: $text-color;
        font-size: $type-size-1;
        font-family: 'termina', sans-serif;
        margin-bottom: 2em;
        >a {
            text-decoration: none !important;
            color: $text-color;
        }
    }
    >div {
        width: 100%;
    }
    .contact-container {
        background-color: none;//$box-color;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 25em;

        form {
            background: none;
            width: 100%;
            height: 100%;
            align-items: center;
            padding: 2em 5%;
            .label__email {
                width: 49%;
                height: 6em;
                float: left;
                padding: 0px;

                input[type="email"] {
                    color: $text-color;
                    width: 100%;
                    border-radius: $border-radius;
                    background-color: $background-color;
                    height: 3em !important;
                    font-size: 1em;
                    border: 1px solid #d4d4d4;
                    outline: none;
                    padding-left: 1.5em;
                    box-shadow: none;
                    margin: 0.5em 0em;
                    &::placeholder {
                        color: #777;
                        font-style: italic;
                    }
                    &:focus {
                        box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.6);//rgba(39, 94, 254, .3);
                    }
                }
            }
            .label__name {
                width: 49%;
                height: 6em;
                float: left;
                padding: 0px;
                margin-left: 2%;

                input[type="text"] {
                    color: $text-color;
                    width: 100%;
                    border-radius: $border-radius;
                    background-color: $background-color;
                    height: 3em !important;
                    font-size: 1em;
                    border: 1px solid #d4d4d4;
                    outline: none;
                    padding-left: 1.5em;
                    margin: 0.5em 0em;
                    box-shadow: none;
                    &::placeholder {
                        color: #777;
                        font-style: italic;
                    }
                    &:focus {
                        box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.6);//rgba(39, 94, 254, .3);
                    }
                }
            }
            .label__message {
                width: 100%;
                height: 10em;

                textarea {
                    color: $text-color;
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius;
                    resize: none;
                    background-color: $background-color;
                    font-size: 1em;
                    border: 1px solid #d4d4d4;
                    outline: none;
                    padding: 1.5em;
                    margin: 0.5em 0em;
                    box-shadow: none;
                    &::placeholder {
                        color: #777;
                        font-style: italic;
                    }
                    &:focus {
                        box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.6);//rgba(39, 94, 254, .3);
                    }
                }
            }
            button {
                float: right;
                width: 5em;
                height: 2.5em;
                background-color: $background-color;
                border: 1px solid #d4d4d4;
                color: $text-color;
                border-radius: $border-radius;
                margin-top: 9.2em;
                &:hover {
                    border: 1px solid $text-color;
                }
            }
        }
    }
}