@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: local('SUIT Thin'), url('/assets/fonts/SUIT/SUIT-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: local('SUIT ExtraLight'), url('/assets/fonts/SUIT/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: local('SUIT Light'), url('/assets/fonts/SUIT/SUIT-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: local('SUIT Regular'), url('/assets/fonts/SUIT/SUIT-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: local('SUIT Medium'), url('/assets/assets/fonts/SUIT/SUIT-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: local('SUIT SemiBold'), url('/assets/fonts/SUIT/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: local('SUIT Bold'), url('/assets/fonts/SUIT/SUIT-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: local('SUIT ExtraBold'), url('/assets/fonts/SUIT/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: local('SUIT Heavy'), url('/assets/fonts/SUIT/SUIT-Heavy.woff2') format('woff2');
}


@font-face {
	font-family: 'Ydestreet';
	font-weight: 700;
	src: local('Ydestreet Light'), url('/assets/fonts/Ydestreet/YdestreetL.woff') format('woff');
}
@font-face {
	font-family: 'Ydestreet';
	font-weight: 900;
	src: local('Ydestreet Bold'), url('/assets/fonts/Ydestreet/YdestreetB.woff') format('woff');
}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}