.hero {
    position: relative;
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    @include breakpoint($medium) {
        height: 700px;
    }
}
.hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: inherit;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        flex-direction: row;
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.hero__inner-left {
    order: 2;
    width: 90%;
    @include breakpoint($medium) {
        order: 1;
        width: 50%;
    }
    >p {
        max-width: 25em;
    }
}
.hero__title {
    font-family: $title-font;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.5em;
    @include breakpoint($small) {
        font-size: 2em;
    }
    @include breakpoint($medium) {
        font-size: 2.5em;
    }
    @include breakpoint($medium-wide) {
        font-size: 2.8em;
    }
    @include breakpoint($large) {
        font-size: 3em;
    }
    @include breakpoint($x-large) {
        font-size: 3.5em;
        max-width: 10em;
    }
}
.hero__inner-right {
    order: 1;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-bottom: 1em;
    @include breakpoint($medium) {
        order: 2;
        width: 50%;
        margin-bottom: 0em;
    }
}
.hero__image {
    border-radius: 2.5em;
    height: 300px;
    width: 100%;
    object-fit: cover;
    @include breakpoint($medium) {
        height: 400px;
        width: 400px;
        border-radius: 4em;
    }
    @include breakpoint($large) {
        height: 500px;
        width: 500px;
    }
}
//--------------------------------------------------------------------
.home__section {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 6em 1em 0;
}
.home__section-info {
    width: 90%;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.home__section-head {
    font-family: $title-font;
    font-weight: 900;
    font-size: 1.5em;
    .link {
        cursor: pointer;
        font-family: $sans-serif;
        font-weight: 500;
        font-size: 0.5em;
        float: right;
        >i {
            margin-left: 0.5em;
        }
    }
}
.home__section-head .link:hover {
    >i {
        transform: translateX(10%);
    }
}
.home__section-contents {
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.home__section-card {
    position: relative;
    flex: auto;
    cursor: pointer;
    border-radius: 1em;
    overflow: hidden;
    margin: 10px;
    width: 450px;
    height: 450px;
    @include breakpoint($small) {
        width: calc(600px - 20px);
        height: calc(600px - 20px);
    }
    @include breakpoint($medium) {
        width: calc(768px / 2 - 20px);
        height: calc(768px / 2 - 20px);
    }
    @include breakpoint($medium-wide) {
        width: calc(900px / 3 - 20px);
        height: calc(900px / 3 - 20px);
    }
    @include breakpoint($large) {
        width: calc(1024px / 3 - 20px);
        height: calc(1024px / 3 - 20px);
    }
    @include breakpoint($x-large) {
        width: calc(1280px / 3 - 20px);
        height: calc(1280px / 3 - 20px);
    }
}
.home__section-image {
    transition: all 0.2s;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
}
.home__section-cover {
    position: absolute;
    opacity: 0;
    border-radius: 1em;
    background: linear-gradient(to top, rgb(255, 166, 0), rgb(255, 166, 0), rgba(255, 166, 0, 0.8), rgba(255, 166, 0, 0.5));
    transition: opacity .2s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding-bottom: 2.5em;
    width: 100%;
    height: 100%;
}
.home__section-card:hover .home__section-cover  {
    opacity: 1;
}
.home__section-cover-head {
    font-family: $title-font;
    color: #fff;
    font-size: 1.5em;
    font-weight: 900;
}
.qna-box {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 10em;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    transition: all 0.2s;
    border-radius: 2em;
    border: 1px solid #cacaca;
    p {
        margin: 0;
    }
    &:hover {
        background-color: #f2f2f2;
    }
}

// ------------------------ Blog -------------------------- //
.home__blog-container {
    transition: 0.2s all;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 1.5em;
    margin-bottom: 3em;
    border-radius: 2.5em;
    background-color: #fff;
    border: 1px solid $callout-color;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        flex-direction: row;
        width: $medium;
        border-radius: 1.5em;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.home__section-blog-contents {
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    width: 100%;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}