.modal-container {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 3% 3%;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba($background-color, 0.99);//mix(gray, $background-color, 30%);
}

.modal-content {
  background: none;
  -webkit-user-drag: none;
  transition: transform 0.3s ease;
  display: block;
  overflow: visible;
}

.modal-image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
}

.caption {
  text-align: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.modal {
  object-fit: cover;
  cursor: pointer;
  border-radius: $border-radius;
  box-shadow: none;
  transition: all 0.2s;
  // &:hover {
  //   opacity: 0.8;
  // }
}
