.page__head {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 2em 1em;
}
.page__head-info {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.page__head-title {
    font-family: 'Ydestreet';
    font-weight: 900;
    font-size: 2em;
}

.page__section {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}
.page__container {
    width: 90%;
    position: relative;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
    hr {
        border-color: #bbb;
        margin: 0;
    }
    ul {
        padding: 0;
        width: 100%;
        list-style-type: none;
    }
}
.page__slider {
    transition: all 0.2s;
    margin: 0;
    cursor: pointer;
    width: 100%;
    padding: 1em 0.5em;
    ul {
        list-style-type: disc;
    }
    dt {
        font-size: 1.2em;
        font-weight: bold;
    }
    &:hover {
        background-color: #f2f2f2;
    }
}