.post__head {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 2em 1em;
}
.post__head-info {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
}
.post__head-title {
    font-family: $title-font;
    font-weight: 900;
    font-size: 2em;
}
.post__head-description {
    font-size: 0.8em;
    border-left: 0.2em solid orange;
    padding-left: 1em;
}

.post__section {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

.post__container {
    width: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    @include breakpoint($small) {
        width: $small;
    }
    @include breakpoint($medium) {
        width: $medium;
    }
    @include breakpoint($medium-wide) {
        width: $medium-wide;
    }
    @include breakpoint($large) {
        width: $large;
    }
    @include breakpoint($x-large) {
        width: $x-large;
        max-width: $max-width;
    }
    h1, h2, h3, h4, h5, h6 {
        padding-top: 1em;
        padding-bottom: 0.5em;
        margin: 0;
		.header-link {
			position: relative;
			left: 0.5em;
			opacity: 0;
			font-size: 0.8em;
			-webkit-transition: opacity 0.2s ease-in-out 0.1s;
			-moz-transition: opacity 0.2s ease-in-out 0.1s;
			-o-transition: opacity 0.2s ease-in-out 0.1s;
			transition: opacity 0.2s ease-in-out 0.1s;
		}

		&:hover .header-link {
			opacity: 1;
		}
	}
    p,
    li,
    dl {
      font-size: 1em;
    }
    hr {
        border-color: #d3d3d3;
    }

    /* paragraph indents */
    p {
      margin: 0.5em 0;

      /* sibling indentation*/
      @if $paragraph-indent == true {
        & + p {
          text-indent: $indent-var;
          margin-top: -($indent-var);
        }
      }
    }
    ul {
        margin: 0.5em 0;
    }

    img {
        border-radius: 0;
    }
    .img__small{
        max-width: 100%;
        @include breakpoint($small) {
            max-width: $small;
        }
    }
    .img__medium{
        max-width: 100%;
        @include breakpoint($medium) {
            max-width: $medium;
        }
    }
    .img__large{
        max-width: 100%;
        @include breakpoint($large) {
            max-width: $large;
        }
    }

    .vid__small {
        width: 480px;
        height: 270px;
        border-radius: 10px;
        @include breakpoint($small) {
            width: 480px;
            height: 270px;
        }
    }
    .vid__medium {
        width: 480px;
        height: 270px;
        border-radius: 10px;
        @include breakpoint($medium) {
            width: 720px;
            height: 405px;
            border-radius: 10px;
        }
    }
    .vid__large {
        width: 480px;
        height: 270px;
        border-radius: 10px;
        @include breakpoint($medium) {
            width: 720px;
            height: 405px;
            border-radius: 10px;
        }
        @include breakpoint($large) {
            width: 960px;
            height: 540px;
            border-radius: 10px;
        }
    }
}

.post__stage-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin: 0.5em 0;
}
.post__stage {
    max-width: 50%;
    padding-right: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

@for $i from 0 to 50 {
    .post__reference > li:nth-child(#{$i})::marker { content: '[#{$i}] '; }
}