
::-webkit-scrollbar{
    //display: none;
    //@include breakpoint($small) {
        display: block;
        width: 10px;
        height: 6px;
        background-color: mix(#777, $background-color, 20%);
        //border-radius: $border-radius;
    //}
}
/* ::-webkit-scrollbar-track {background: none; border-radius: 10px; transition: background 1s ease;}
::-webkit-scrollbar-track:hover {background-color: #c2c2c2; border-radius: 10px;} */
::-webkit-scrollbar-thumb {
    background-color: mix(#777, $background-color, 60%);
    border-radius: $border-radius;
    //transition: all 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: mix(#777, $background-color, 80%);
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:1px;
    height:1px;
    background:transparent;
}