a#topBtn {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 50px;
	bottom: -50px;
	z-index: 9999;

	width: 40px;
	height: 40px;
	background: #ffa55c;
	color: #fff;
	cursor: pointer;
	opacity: 1;
	border-radius: 50%;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	>i {
			font-size: 20px;
			text-align: center;
	}
}
a#topBtn:hover {
	background: #ca5e00;
}

a#prevBtn {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 50px;
	bottom: 40px;
	z-index: 9999;

	width: 40px;
	height: 40px;
	background: #ffa55c;
	color: #fff;
	cursor: pointer;
	opacity: 1;
	border-radius: 50%;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	>i {
			font-size: 20px;
			text-align: center;
	}
}
a#prevBtn:hover {
	background: #ca5e00;
}