---
layout: pages
title: "5G"
permalink: /study/communication/5g/
description: ""
---

<section class="page__container">
    <ul>
        <hr>
        {% assign files = site.study | where: "category", "communication" | where: "subcategory", "5g" %}
        {% for file in files %}
        <li class="page__slider" OnClick="location.href ='{{ file.url }}'">
            <dt>{{ file.title }}</dt>
            {% if file.subfiles %}
            <dd>
                <ul>
                    {% for subfile in file.subfiles %}
                    <li>
                        <a href="{{ subfile.url }}">{{ subfile.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endif %}
        </li>
        <hr>
        {% endfor %}
    </ul>
</section>