---
layout: pages
title: "5G"
permalink: /study/communication/5g/
description: ""
---

<section class="page__container">
    <ul>
        <hr>
        {% assign files = site.study | where: "category", "communication" | where: "subcategory", "5g" %}
        {% for file in files %}
        {% assign file_name_no_ext = file.name | split: '.' | first %}
        <li class="page__slider" OnClick="location.href ='{{ file.url }}'">
            <dt>{{ file.title }}</dt>
            <dd>
            {% for subfile in site.study %}
                <p>{{ subfile.path }}</p>
                {% assign subfile_dir = subfile.path | split: '/' %}
                {% if subfile.path contains '/5g/' and subfile_dir contains file_name_no_ext %}
                <p>{{ subfile_dir }}</p>
                <ul>
                    <li>
                        <a href="{{ subfile.url }}">{{ subfile.title }}</a>
                    </li>
                </ul>
                {% endif %}
            {% endfor %}
            </dd>
        </li>
        <hr>
        {% endfor %}
    </ul>
</section>
