{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

<!-- bootstrap -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- mathjax -->
<script type="text/javascript" async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true
     },
     "HTML-CSS": { availableFonts: ["TeX"] }
   });
</script>

<!-- include html -->
<script>
  window.addEventListener('load', function() {
      var allElements = document.getElementsByTagName('*');
      Array.prototype.forEach.call(allElements, function(el) {
          var includePath = el.dataset.includePath;
          if (includePath) {
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                      el.outerHTML = this.responseText;
                  }
              };
              xhttp.open('GET', includePath, true);
              xhttp.send();
          }
      });
  });
</script>

<!-- 404.html -->
<script>
  var pageX = $(document).width();
  var pageY = $(document).height();
  var mouseY=0;
  var mouseX=0;

  $(document).mousemove(function( event ) {
  //verticalAxis
  mouseY = event.pageY;
  yAxis = (pageY-mouseY)/pageY*200;
  //horizontalAxis
  mouseX = event.pageX / -pageX;
  xAxis = -mouseX * 100 - 100;

  $('.box__ghost-eyes').css({ 'transform': 'translate('+ xAxis +'%,-'+ yAxis +'%)' });

  //console.log('X: ' + xAxis);

  });
</script>

<!-- football -->

<!-- top scroll button -->
<script>
  var topbtn = $('#topbutton');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 600) {
      topbtn.addClass('show');
    } else {
      topbtn.removeClass('show');
    }
  });

  topbtn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, 400);
  });
</script>

<script>
    var initialScale = 1;
    var scaleStep = 0.1;
    var isZooming = false;
    var currentScale = initialScale;
    var isDragging = false;
    var startX, startY;
    var translateX = 0;
    var translateY = 0;
    $(document).ready(function() {
        $('.gallery-img').on('click', function() {
            var imgSrc = $(this).attr('src');
            var imgAlt = $(this).attr('alt');
            $('#modalImg').attr('src', imgSrc);
            $('#caption').text(imgAlt);
            $('#myModal').fadeIn();
            adjustModalSize();
            $(document).mousedown(function(e) {
                var modalContent = $('.modal-content');
                if (!modalContent.is(e.target) && modalContent.has(e.target).length === 0) {
                    $('#myModal').fadeOut('fast');
                }
            });
        });
        $('.close').on('click', function() {
            $('#myModal').fadeOut('fast');
        });
        $(window).on('resize', function() {
          if ($('.gallery-img').length > 0) {
              adjustModalSize();
          }
        });
        $('.modal-content').on('wheel', function(e) {
          if (e.ctrlKey) {
            e.preventDefault();

            if (!isZooming) {
              isZooming = true;
              var delta = e.originalEvent.deltaY;

              while(1) {
                if (delta < 0 ) {
                  zoomIn();
                } else {
                  zoomOut();
                }
                delta += delta;
                if (delta < -200 || delta > 200) {
                  break;
                }
              }
            }
          }
        });
        $('.modal-content').on('mouseenter', function(e) {
          $(this).css('cursor', 'grab'); // 드래그 가능한 요소에 호버할 때 커서 스타일 변경
        });
        $('.modal-content').on('mousedown', function(e) {
          isDragging = true;
          startX = e.clientX;
          startY = e.clientY;
          $(this).css('cursor', 'grabbing'); // 드래그 중일 때 커서 스타일 변경
        });
        $(document).on('mousemove', function(e) {
          if (isDragging) {
            requestAnimationFrame(function() {
              var deltaX = e.clientX - startX;
              var deltaY = e.clientY - startY;

              translateX += deltaX;
              translateY += deltaY;

              $('.modal-content').css('transform', 'translate(' + translateX + 'px, ' + translateY + 'px) scale(' + currentScale + ')');

              startX = e.clientX;
              startY = e.clientY;
            });
          }
        });
        $(document).on('mouseup', function() {
          isDragging = false;
          $('.modal-content').css('cursor', 'grab'); // 드래그 종료 후 커서 스타일 변경
        });
    });

    function zoomIn() {
        if (currentScale >= 5) {
            isZooming = false;
            return;
        }
        var newScale = currentScale + scaleStep;
        adjustModalSize(newScale);
        currentScale = newScale;
        isZooming = false;
    }

    function zoomOut(count) {
        if (currentScale <= 0.7) {
            isZooming = false;
            return;
        }
        var newScale = currentScale - scaleStep;
        adjustModalSize(newScale);
        currentScale = newScale;
        isZooming = false;
    }

    function adjustModalSize(scale = 1) {
        var modalContent = $('.modal-content');
        var windowWidth = $(window).width();
        var windowHeight = $(window).height();
        var maxWidth = windowWidth * 0.95;
        var maxHeight = windowHeight * 0.9;
        var img = new Image();
        img.src = $('#modalImg').attr('src');
        img.onload = function() {
            var modalWidth = img.width;
            var modalHeight = img.height;
            if (modalWidth > maxWidth || modalHeight > maxHeight) {
                var widthRatio = maxWidth / modalWidth;
                var heightRatio = maxHeight / modalHeight;
                var scaleRatio = Math.min(widthRatio, heightRatio);
                modalWidth = modalWidth * scaleRatio;
                modalHeight = modalHeight * scaleRatio;
            }
            modalContent.css({
                width: modalWidth + 'px',
                height: modalHeight + 'px',
                'top': (windowHeight - modalHeight*1.2) / 2 + 'px',
                transform: 'scale(' + scale + ')'
            });
            initialScale = scale;
            currentScale = scale;
        };
    }

</script>
<script>
  const now = new Date();
  const getCalendar = (date) => {
    const year = date.getFullYear();
    const month = date.getMonth() + 1;
    const day = date.getDate();
    const week = date.getDay();
    const weekArr = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    const weekFullArr = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    const weekStr = weekFullArr[week];
    const monthArr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    const monthStr = monthArr[month - 1];
    const firstDay = new Date(date.setDate(1));
    const lastDay = new Date(year, month, 0);
    const lastDayNum = lastDay.getDate();
    const startDay = firstDay.getDay();
    const calendar = document.querySelector('.days');
    const limitDay = startDay + lastDayNum;
    const nextDay = Math.ceil(limitDay / 7) * 7;

    let data = ''
    document.getElementById("date-this").innerHTML = weekStr + "<br>" + monthStr + " " + day;
    document.getElementById("month-this").innerHTML = year + "." + month;

    for (let i = 0; i < startDay; i++){
      data += '<li></li>';
    }

    for (let i = 1; i <= lastDayNum; i++){
      var addClass = '';

      if( year === now.getFullYear() && month === now.getMonth()+1 && i === now.getDate() ){ addClass = ' class="selected"'; } // selected = today
      var yearNew = new Date(year, month - 1, i).getFullYear();
      var weekNew = new Date(year, month - 1, i).getDay();
      var weekStrNew = weekFullArr[weekNew];
      data += '<li><a onclick="select(this)" title="'+i+'" data-value="'+weekStrNew+'<br>'+month+'<br>'+monthStr+'<br>'+i+'<br>'+yearNew+'"'+addClass+'>'+i+'</a></li>';

    }

    for (let i = 0; i < startDay; i++){
      data += '<li></li>';
    }

    calendar.innerHTML = data;

  }
  const date = new Date();
  getCalendar(date);

  document.querySelector(`.go-prev`).onclick = () => {
  getCalendar(new Date(date.setMonth(date.getMonth() - 1)));
  }

  // 다음달 이동
  document.querySelector(`.go-next`).onclick = () => {
  getCalendar(new Date(date.setMonth(date.getMonth() + 1)));
  }

</script>
<script>
  var league = "{{ page.name|replace:'.html','' }}";
  let banner = document.getElementById("banner");
  let standings = document.getElementById("standings");
  let match_review = document.getElementById("match_review");
  let continental = document.getElementById("continental");
  let pageTitle = document.getElementById("page-title");
  var continent = 'europe';
  var year = "2023";

  if (league == 'bundesliga') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">챔피언스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#3426b1;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#15bfdd;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">컨퍼런스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#637721;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">승강 플레이오프</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 0 0 0.6vmin;">강등</div>';
    pageTitle.style.display = "none";
    match_review.style.color=standings.style.color=banner.style.color="#000000";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"DFLWeb Bd";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/bundesliga-logo.png'/>BUNDESLIGA";}
  else if (league == 'seriea') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">챔피언스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#3426b1;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#15bfdd;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">컨퍼런스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 0 0 0.6vmin;">강등</div>';
    pageTitle.style.display = "none";
    banner.style.color="#1A1659";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"DIN Next Bold";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 0 -4vmin;' src='/images/football/main_page/seriea-logo.png'/>SERIE A";}
  else if (league == 'laliga') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">챔피언스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#3426b1;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#15bfdd;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">컨퍼런스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 0 0 0.6vmin;">강등</div>';
    pageTitle.style.display = "none";
    banner.style.color="#0C1B23";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"Futura Maxi CG Bold";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/laliga-logo.png'/>LaLiga";}
  else if (league == 'ligue1') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">챔피언스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#637721;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">챔피언스 리그 예선</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#3426b1;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#15bfdd;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">컨퍼런스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 0 0 0.6vmin;">강등</div>';
    pageTitle.style.display = "none";
    banner.style.color="#091C3E";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"LigueV Bold";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/ligue1-logo.png'/>LIGUE 1";}
  else if (league == 'premierleague') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">챔피언스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#3426b1;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#15bfdd;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">컨퍼런스 리그</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 0 0 0.6vmin;">강등</div>';
    pageTitle.style.display = "none";
    banner.style.color="#37023B";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"Radikal Bold";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/premierleague-logo.png'/>Premier League";}
  else if (league == 'championsleague') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#00004B;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">그룹</div>'+
                            '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">16강</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그 플레이오프</div>';
    pageTitle.style.display = "none";
    banner.style.color="#00004B";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"Novarese Bold";
    banner.innerHTML = "<img style='height:10vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/championsleague-logo-2.png'/>CHAMPIONS LEAGUE";}
  else if (league == 'europaleague') {
    continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#00004B;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">그룹</div>'+
                            '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">16강</div>'+
                            '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
                            '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 컨퍼런스 리그 플레이오프</div>';
    pageTitle.style.display = "none";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="termina";//"Europa";
    banner.innerHTML = "<img style='height:10vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/europaleague-logo-2.png'/>EUROPA LEAGUE";}
  else if (league == 'kleague1') {
    pageTitle.style.display = "none";
    continent = "asia";
    banner.style.color="#001A46";
    match_review.style.fontFamily=standings.style.fontFamily=banner.style.fontFamily="KLeagueBasic Medium";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/kleague-logo.png'/>K LEAGUE 1";}
  else if (league == 'worldcup') {
    // continental.innerHTML = '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#00004B;"></div>'+
    //                         '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">그룹</div>'+
    //                         '<div style="display:inline-block;float:left; border-radius:0.7vmin; width:2vmin; height:2vmin; background-color:#1e746a;"></div>'+
    //                         '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">16강</div>'+
    //                         '<div style="display:inline-block;float:left; border-radius:10px; width:2vmin; height:2vmin; background-color:#ad2022;"></div>'+
    //                         '<div style="display:inline-block;float:left;margin:-0.1vmin 2vmin 0 0.6vmin;">유로파 리그 플레이오프</div>';
    pageTitle.style.display = "none";
    standings.style.fontSize=banner.style.fontSize="7vmin";
    standings.style.fontFamily=banner.style.fontFamily="P26";
    banner.innerHTML = "<img style='height:10vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/worldcup-trophy.png'/>WORLD CUP";}
  else if (league == 'national') {
    pageTitle.style.display = "none";
    banner.style.color="#B40028";
    match_review.style.fontFamily=banner.style.fontFamily="KFAGothic";
    banner.innerHTML = "<img style='height:8vmin;margin:0 4vmin 1vmin -4vmin;' src='/images/football/main_page/kfa-logo.png'/>국가대표";}

  function select(val){
    var checkbox = document.getElementById("spoiler-toggle");
    if (checkbox.checked == false){checkbox.checked = !checkbox.checked;}
    var date_info = $(val).attr('data-value').split('<br>');
    document.getElementById("date-this").innerHTML = date_info[0] + "<br>" + date_info[2] + " " + date_info[3];

    const xhr = new XMLHttpRequest();

    xhr.open('GET', "/data/football/" + continent + "/{{ page.name|replace:'.html','' }}-matches.json", true);

    xhr.onload = function(){
      if(this.status === 200) {
        // console.log(this.responseText);
        const customers = JSON.parse(this.responseText);

        let output = '';

        customers.forEach(function(customer){
          date_info[1] = String(date_info[1]).padStart(2, "0")
          date_info[3] = String(date_info[3]).padStart(2, "0")
          if (customer.Date == date_info[4]+'-'+date_info[1]+'-'+date_info[3]) {
            output += `
              <li>
                <a class="match-list" href="/sports/football/{{ page.name|replace:'.html','' }}/${date_info[1]}.${date_info[3]}-${customer.Home}${customer.Away}" style="text-decoration:none; color:#f2f2f2;">
                  <p style="line-height:2.5vmin;padding-left:3.5vmin;text-indent:-3.5vmin;">${customer.Wk}R&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;${customer.HomeLogo}
                    <span class="spoiler active" onmouseleave="removeActiveClass(this)">&nbsp;${customer.Score}&nbsp;</span>
                    ${customer.AwayLogo}
                  </p>
                </a>
              </li>`
          ;
          }
        });

        document.querySelector('.noteList').innerHTML = output;
      }
    }

    xhr.send();
  }
  function removeActiveClass(element) {
    var spoilers = document.getElementsByClassName("spoiler");
    for (var i = 0; i < spoilers.length; i++) {
      var spoiler = spoilers[i];
      if (spoiler === element) {
        spoiler.classList.remove("active");
      }
    }
  }
  function toggleSpoilerClass() {
    var checkbox = document.getElementById("spoiler-toggle");
    var spoilers = document.getElementsByClassName("spoiler");

    for (var i = 0; i < spoilers.length; i++) {
      var spoiler = spoilers[i];

      if (checkbox.checked) {
        spoiler.classList.add("active");
      } else {
        spoiler.classList.remove("active");
      }
    }
  }
</script>
