{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- mathjax -->
<script type="text/javascript" async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true
     },
     "HTML-CSS": { availableFonts: ["TeX"] }
   });
</script>

<!-- include html -->
<script>
 
  window.addEventListener('load', function() {
      var allElements = document.getElementsByTagName('*');
      Array.prototype.forEach.call(allElements, function(el) {
          var includePath = el.dataset.includePath;
          if (includePath) {
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                      el.outerHTML = this.responseText;
                  }
              };
              xhttp.open('GET', includePath, true);
              xhttp.send();
          }
      });
  });

</script>
<!-- 404.html -->
<script>
  var pageX = $(document).width();
  var pageY = $(document).height();
  var mouseY=0;
  var mouseX=0;

  $(document).mousemove(function( event ) {
  //verticalAxis
  mouseY = event.pageY;
  yAxis = (pageY-mouseY)/pageY*200; 
  //horizontalAxis
  mouseX = event.pageX / -pageX;
  xAxis = -mouseX * 100 - 100;

  $('.box__ghost-eyes').css({ 'transform': 'translate('+ xAxis +'%,-'+ yAxis +'%)' }); 

  //console.log('X: ' + xAxis);

  });
</script>

<!-- football -->

<!-- top scroll button -->
<!-- <script>
  $(document).ready(function() {
  
    $(window).scroll(function() {
        // top button controll
        if ($(this).scrollTop() > 500) {
            $('#topButton').fadeIn();
        } else {
            $('#topButton').fadeOut();
        }
    });
  
    $("#topButtonImg").click(function() {
      $('html, body').animate({scrollTop:0}, '300');
    });
  
  })(jQuery);
</script> -->
<script>
  var btn = $('#topbutton');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 600) {
      btn.addClass('show');
    } else {
      btn.removeClass('show');
    }
  });

  btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, 400);
  });
</script>

<!-- sidebar -->
<script>
  function setDetailsHeight(selector, wrapper = document) {
    const setHeight = (detail, open = false) => {
      detail.open = open;
      const rect = detail.getBoundingClientRect();
      detail.dataset.width = rect.width;
      detail.style.setProperty(open ? `--expanded` : `--collapsed`,`${rect.height}px`);
    }
    const details = wrapper.querySelectorAll(selector);
    const RO = new ResizeObserver(entries => {
      return entries.forEach(entry => {
        const detail = entry.target;
        const width = parseInt(detail.dataset.width, 10);
        if (width !== entry.contentRect.width) {
          detail.removeAttribute('style');
          setHeight(detail);
          setHeight(detail, true);
          detail.open = false;
        }
      })
    });
    details.forEach(detail => {
      RO.observe(detail);
    });
  }

  /* Run it */
  setDetailsHeight('details');
</script>