---
layout: pages
title: "Data Analysis"
permalink: /study/data_analysis/
---

<section class="page__container">
    <ul>
        <hr>
        {% assign files = site.study | where: "category", "data_analysis" %}
        {% for file in files %}
        {% assign file_name_no_ext = file.path | split: '/' | last | split: '.' | first %}
        <li class="page__slider" OnClick="location.href ='{{ file.url }}'">
            <dt>{{ file.title }}</dt>
            <dd>
                {% for subfile in site.study %}
                    {% assign subfile_dir = subfile.url | split: '/' %}
                    {% if subfile.url contains '/data_analysis/' and subfile_dir[3] == file_name_no_ext and subfile_dir.size > 4 %}
                    <ul>
                        <li>
                            <a href="{{ subfile.url }}">{{ subfile.title }}</a>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
            </dd>
        </li>
        <hr>
        {% endfor %}
    </ul>
</section>
