---
layout: default
---

<div class="box__404">
    <div class="box__ghost">
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      
      <div class="box__ghost-container">
        <div class="box__ghost-eyes">
          <div class="box__eye-left"></div>
          <div class="box__eye-right"></div>
        </div>
        <div class="box__ghost-bottom">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="box__ghost-shadow"></div>
    </div>
    
    <div class="box__description">
      <div class="box__description-container">
        <div class="box__description-title">Whoops!</div>
        <div class="box__description-text">요청하신 페이지를<br>찾을 수 없습니다.</div>
      </div>
      
      <!-- <span>
        <a href="/" class="box__button">Home</a>
        <a href="javascript:history.back();" class="box__button">Back</a>
      </span> -->
    
      <div class="box__button-home" style=" cursor: pointer;" onclick="location.href='/';">Home</div>
      <div class="box__button-back" style=" cursor: pointer;" onclick="location.href='javascript:history.back();';">Back</div>

      
    </div>
    
  </div>
</div>

