---
layout: default
---

<div class="page__section">
  <div class="page__head">
    <div class="page__head-info">
        <div class="page__head-title">
            {% if page.title %}{{page.title}}{% endif %}
        </div>
        <p>
            {{page.description}}
        </p>
    </div>
  </div>
  <div class="page__container">
    {{ content }}

    <!-- <ul class="taxonomy__index">
      {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
      {% for year in postsInYear %}
        <li>
          <a href="#{{ year.name }}">
            <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
          </a>
        </li>
      {% endfor %}
    </ul> -->

    {% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
    {% for year in postsByYear %}
      <section id="{{ year.name }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ year.name }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in year.items %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </div>
</div>