---
layout: archive
---
<head>
  <style>
    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        font-family: var(--font);
        font-weight: 400;
    }
    /* .masthead {
        border-bottom: #f2f2f2 2px solid;
    } */
    .masthead .site-logo {
        display: none;
    }
    .masthead .site-title {
        display: none;
    }
  </style>
</head>

<!-- {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/custom/dark-theme.js"></script>