---
layout: default
search: false
---

<div class="hero">
  <div class="hero__inner">
    <div class="hero__inner-left">
      <div class="hero__title">
        Hi there, I am Lee Sungjin
      </div>
      <p>
        Student from South Korea.
        I'm studying mobile communication at Kyunghee University.
      </p>
      <button type="button" onclick="location.href='/#contact'" class="btn btn--warning btn--small">Get In Touch</button>
    </div>
    <div class="hero__inner-right">
      <img src="/assets/images/home/profile.jpg" class="hero__image"></div>
    </div>
  </div>
</div>

<!--------------------------- Section -------------------------------->
<div class="home__section study">
  <div class="home__section-info">
    <div class="home__section-head">
      Study
      <div class="link" OnClick="location.href ='/study/'">More<i class="fas fa-arrow-circle-right"></i></div>
    </div>
    <p>
      My personal studies.
    </p>
  </div>
  {% include pages-contents/study.html %}
</div>


<div class="home__section projects">
  <div class="home__section-info">
    <div class="home__section-head">
      Projects
      <div class="link" OnClick="location.href ='/projects/'">More<i class="fas fa-arrow-circle-right"></i></div>
    </div>
    <p>
      My works with partners.
    </p>
  </div>
  {% include pages-contents/projects.html %}
</div>

<div class="home__section blog">
  <div class="home__section-info">
    <div class="home__section-head">
      Recent posts
      <div class="link" OnClick="location.href ='/blog/'">More<i class="fas fa-arrow-circle-right"></i></div>
    </div>
    <p> My personal posts </p>
  </div>
  <div class="home__section-contents">
    {% assign posts = site.posts %}
      <!-- Recent Post용 Draggable Carousel 추가 예정 -->
      <div class="carousel-ontainer">
        <div class="carousel">
          {% for post in posts limit:3%}
            {% include archive-single-home.html type=entries_layout %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>

<!---------------------------- Contact ---------------------------------------->
<div class="home__section contact">
  <div id="contact" class="home-contact">
    <h2><a name="contact">Get In Touch</a></h2>
    <div id="contact-form" class="contact-container">
          <form action="https://formspree.io/f/mjvqogqw" method="POST">
            <label class="label__email">
              <span>Email</span>
              <input id="email" name="_replyto" type="email" required="" placeholder="example@gmail.com" value="">
            </label>
            <label class="label__name">
              <span>Name</span>
              <input name="name" type="text" required="" placeholder="John Smith" value="">
            </label>
            <label class="label__message">
              <span>Message</span>
              <textarea name="message" required="" placeholder="Hey there!"></textarea>
            </label>
            <button type="submit" value="send">Send</button>
        </form>
    </div>
  </div>
</div>
