---
layout: default
---
<head>
  <style>
    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        font-family: var(--font);
        font-weight: 400;
    }
    /* .masthead {
        border-bottom: #f2f2f2 2px solid;
    } */
    .masthead .site-logo {
        display: none;
    }
    .masthead .site-title {
        display: none;
    }
  </style>
</head>

<!-- <div class="square-container">
  <div style="background-color: #1C192B;"></div>
  <div class="background-square"></div>
</div> -->
<!-- <div class="background-square"></div>
<div class="background-square"></div> -->
<div class="welcome-container">
  <div class="welcome-container2">
    <div class="welcome-logo"><a href="/"><img src="/images/logo.png"/></a></div>
    <div class="welcome">
      <span>welcome to</span>
      <h1><a href="/">Asungajinli
        <!-- <img src="/images/logo.png"/> -->
      </a></h1>
    </div>
  </div>
</div>
<div class="home-container">
  <div class="contents-container">
    <h1><a href="/study/">Study</a></h1>
    <div id="studyButton" class="buttons">
      <button onclick="location.href='/study/computer/'" style="cursor:pointer;">
        <i class="fas fa-laptop"></i></br>
        Computer
      </button>
      <button onclick="location.href='/study/mobile/'" style="cursor:pointer;">
        <i class="fas fa-mobile-alt"></i></br>
        Mobile
      </button>
      <button onclick="location.href='/study/mobility/'" style="cursor:pointer;">
        <i class="fas fa-car"></i></br>
        Mobility
      </button>
      <button onclick="location.href='/study/lecture/'" style="cursor:pointer;">
        <i class="fas fa-book"></i></br>
        Lecture
      </button>
    </div>
    <div class="recent-posts">
      <buttom onclick="location.href='/categories/#study'" class="home-more">More</buttom>
      <h2>Recent Posts</h2>
      <div style="display:flex;flex-wrap:wrap;">
        {% for post in site.categories.Study limit:6 %}
          <div class="posts">
            <a href="{{ post.url }}">
              <div class="post-image">
              {% if post.image %}
                <img src="{{ post.image }}" style="width:100%;height:10rem;object-fit:cover;"/>
              {% else %}
                <img src="/images/logo.png" style="width:100%;height:10rem;object-fit:cover;"/>
              {% endif %}
              </div>
              <h3 style="margin:0.5rem 0 0 0;">{{ post.title }}</h3>
              {% assign categories = post.categories | remove:'[' | remove:']' | replace:'_',' ' | remove:'"' | split:',' %}
              {% assign i = 0 %}
              {% for category in categories %}
                <span class="post-category">{% if i>1 %}<span style="margin:0 0.5em 0 0.3em;">|</span>{% endif %}{% if i>0 %}{{ categories[i] }}{% endif %}</span>
                {% assign i = i | plus: 1 %}
              {% endfor %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="contents-container">
    <h1><a href="/sports/">Sports</a></h1>
    <div id="sportsButton" class="buttons">
      <button onclick="location.href='/sports/football/'" style="cursor:pointer;">
        <i class="fas fa-futbol"></i></br>
        Football
      </button>
      <button onclick="location.href='/sports/esports/'" style="cursor:pointer;">
        <i class="fas fa-gamepad"></i></br>
        Esports
      </button>
    </div>
    <div class="recent-posts">
      <buttom onclick="location.href='/categories/#sports'" class="home-more">More</buttom>
      <h2>Recent Posts</h2>
      <div style="display:flex;flex-wrap:wrap;">
        {% for post in site.categories.Sports limit:6 %}
          <div class="posts">
            <a href="{{ post.url }}">
              <div class="post-image">
              {% if post.image %}
                <img src="{{ post.image }}" style="width:100%;height:10rem;object-fit:cover;"/>
              {% else %}
                <img src="/images/logo.png" style="width:100%;height:10rem;object-fit:cover;"/>
              {% endif %}
              </div>
              <h3>{{ post.title }}</h3>
              {% assign categories = post.categories | remove:'[' | remove:']' | replace:'_',' ' | remove:'"' | split:',' %}
              {% assign i = 0 %}
              {% for category in categories %}
                <span class="post-category">{% if i>1 %}<span style="margin:0 0.5em 0 0.3em;">|</span>{% endif %}{% if i>0 %}{{ categories[i] }}{% endif %}</span>
                {% assign i = i | plus: 1 %}
              {% endfor %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="contents-container">
    <h1><a href="/entertainment/">Entertainment</a></h1>
    <div id="entertainmentButton" class="buttons">
      <button onclick="location.href='/entertainment/movie/'" style="cursor:pointer;">
        <i class="fas fa-film"></i></br>
        Movie
      </button>
      <button onclick="location.href='/entertainment/drama/'" style="cursor:pointer;">
        <i class="fas fa-theater-masks"></i></br>
        Drama
      </button>
      <button onclick="location.href='/entertainment/music/'" style="cursor:pointer;">
        <i class="fas fa-music"></i></br>
        Music
      </button>
    </div>
  </div>
</div>
<script>
  changeColor();
  function changeColor() {
    var studyButton = document.getElementById("studyButton");
    var entertainmentButton = document.getElementById("entertainmentButton");
    studyButton.style.setProperty("--button-color", "#DC7D48");
    entertainmentButton.style.setProperty("--button-color", "#6454ED");
  }
</script>

<!-- <img src="/images/home_intro.png" alt = "Home" style="-webkit-user-drag:none;user-select:none;"/> -->

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
