
.box__button-Entertainment {
    display: block;
    position: relative;
    background: #6454ED;
    border: 1px solid transparent;
    border-radius: 15px;
    max-width: 500px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 47px;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 25px;
    padding: 0 auto;
    white-space: nowrap;
    transition: background .3s ease;
    overflow: hidden;
    cursor: pointer;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 100px;
      background: white;
      bottom: -25px;
      left: 0;
      border: 2px solid white;
      transform: translateX(-50px) rotate(45deg);
      transition: transform .3s ease;
    }

    &:hover {
      background: transparent;
      border-color: #6454ED;
      color: #6454ED;

      &:before {
        transform: translateX(500px) rotate(45deg);
      }
    }
}
.box__button-Entertainment > img {
    position: relative;
    width: auto;
    height: 40%;
    vertical-align: middle;
    margin: 0 5px 2px 0;
}
.box__button-Entertainment:hover > img {
    filter: invert(50%) sepia(53%) saturate(524%) hue-rotate(337deg) brightness(100%) contrast(94%);
}

.playlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1%;
  @include breakpoint($large) {
    flex-direction: row;
  }
}
.playlist ul {
  padding: 2vmin;
  margin: 1%;
	background-color: #5043c0;
  border-radius: 15px;
  overflow-y:scroll;
  //box-shadow: 0 0 4vmin 0vmin #5044be;
  z-index: 0;
  width: 100%;
  height: auto;
  @include breakpoint($large) {
    width: 50%;
  }
}
.playlist li {
  list-style-type: none;
}
.playlist .player-container {
  margin: 1%;
  border-radius:15px;
  overflow:hidden;
  width: 100%;
  height: auto;
  @include breakpoint($large) {
    width: 50%;
  }
}
.playlist .item {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 1.5vmin;
  padding: 1vmin 2vmin;
  margin: 1vmin 0 1vmin 0.5vmin;
  display: block;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #5043c0;
  box-shadow: 0 0 1vmin 0vmin #5044be;
  z-index: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist .active {
  font-weight: bold;
  color: #5043c0 !important;
  background-color: #f2f2f2;
}
@media (max-width: 1024px) {
  .playlist .item {
    font-size:1.5rem;
  }
}

@keyframes eq-uppydowny {
  0% {
    //height: 20px;
    transform: scaleY(1);
  }
  50% {
    //height: 3px;
    transform: scaleY(.5);
  }
  100% {
    //height: 20px;
    transform: scaleY(1);
  }
}

.eq__container {
  display: block;
  float: right;
}
.eq__bar {
  position: absolute;
  bottom: 0px;
  fill: #5043c0;
  transition: all 0.3s ease;
  animation-name: eq-uppydowny;
  animation-fill: forwards;
  animation-iteration-count: infinite;
  transform-origin: 8px 16px;
  -webkit-transform-origin: 8px 16px;
  rx:3;
  ry:3;
}
#eq1 {
  animation-duration: 0.5s;
}
#eq2 {
  animation-duration: 1.3s;
}
#eq3 {
  animation-duration: 0.7s;
}

.playlist .item:hover {
  color: #fff !important;
  background-color: #6454ED;

  .eq__bar {
    fill: #fff;
  }
}