// @font-face {
//     font-family: 'LCKTitle Extended';
//     src: url('/fonts/LCKTitle-Extended.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'Radikal Bold';
//   src: url('/fonts/Radikal-Bold.woff') format('woff');
// }
// @font-face {
//   font-family: 'Futura Maxi CG Bold';
//   src: url('/fonts/Futura-Maxi-CG-Bold.woff') format('woff');
// }
// @font-face {
//   font-family: 'DIN Next Bold';
//   src: url('/fonts/din-next-bold.woff') format('woff');
// }
// @font-face {
//   font-family: 'Novarese Bold';
//   src: url('/fonts/Novarese-Bold.woff') format('woff');
// }
// @font-face {
//   font-family: 'KLeagueBasic Medium';
//   src: url('/fonts/KLeagueBasic-Medium.woff') format('woff');
// }
// @font-face {
//   font-family: 'LigueV Bold';
//   src: url('/fonts/LigueV-Bold.woff') format('woff');
// }
// @font-face {
//   font-family: 'DFLWeb Bd';
//   src: url('/fonts/DFLWeb-Bd.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'champions-bold';
//   src: url('/fonts/champions-bold.woff2') format('woff2');
// }
// @font-face {
// 	font-family: 'KFAGothic';
// 	font-style: normal;
// 	font-weight: bold;
// 	src: url('/fonts/KFAGothicBold.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'P26';
//   src: url('/fonts/P26.woff2') format('woff2');
// }
// @font-face {
//   font-family: 'Europa';
//   src: url('/fonts/europa.woff2') format('woff2');
// }

/**
* @license
* MyFonts Webfont Build ID 941419
*
* The fonts listed in this notice are subject to the End User License
* Agreement(s) entered into by the website owner. All other parties are
* explicitly restricted from using the Licensed Webfonts(s).
*
* You may obtain a valid license from one of MyFonts official sites.
* http://www.fonts.com
* http://www.myfonts.com
* http://www.linotype.com
*
*/
@font-face {
  font-family: "PhonkSansLight";
  src: url('/fonts/PhonkSansLight/font.woff2') format('woff2'), url('/fonts/PhonkSansLight/font.woff') format('woff');
}
@font-face {
    font-family: "ChaneyUltraextended";
    src: url('/fonts/ChaneyUltraextended/chaney-ultraextended-webfont.woff2') format('woff2'), url('/fonts/ChaneyUltraextended/chaney-ultraextended-webfont.woff') format('woff');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: local('SUIT Thin'), url('/fonts/SUIT/SUIT-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: local('SUIT ExtraLight'), url('/fonts/SUIT/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: local('SUIT Light'), url('/fonts/SUIT/SUIT-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: local('SUIT Regular'), url('/fonts/SUIT/SUIT-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: local('SUIT Medium'), url('/fonts/SUIT/SUIT-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: local('SUIT SemiBold'), url('/fonts/SUIT/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: local('SUIT Bold'), url('/fonts/SUIT/SUIT-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: local('SUIT ExtraBold'), url('/fonts/SUIT/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: local('SUIT Heavy'), url('/fonts/SUIT/SUIT-Heavy.woff2') format('woff2');
}