.football-field{
    width: 125vmin;
    height: 70vmin;
    background-color:  #178B4E;
    margin: 5% auto;
    /* box-shadow: -1px -1px 4px 3px lightgrey; */
    border-radius: 10px;
}
.border-line{
    width: 80vmin;
    height: 56.26vmin;
    border:0.5vmin solid #1F6F3F;
    margin-top:6.37vmin;
    margin-left:22vmin;
    position: absolute;
}
.midline{
    width: 40vmin;
    height: 55.75vmin;
    border-right-color:#1F6F3F;
    border-right-style:solid;
    border-right-width:0.5vmin;
    position:absolute;
}	
.goal-line1{
    width: 12.38vmin;
    height: 31.63vmin;
    border:0.5vmin solid #1F6F3F;
    margin-top: 12.3vmin;
    border-left-width:0px;
    position:absolute;
    z-index:10;
}
.goal-line2{
    width: 12.38vmin;
    height:31.63vmin;
    border:0.5vmin solid #1F6F3F;
    border-right-width:0px;
    margin-top: -0.5vmin;
    margin-left: 66.78vmin;
    position:absolute;
}
.goal-line1-2{
    width: 4vmin;
    height:14.36vmin;
    border:0.5vmin solid #1F6F3F;
    margin-top: 8.2vmin;
    border-left-width:0px;
    margin-left: -67.36vmin;
    position:absolute;
    z-index:11;
}
.goal-line2-2{
    width: 4vmin;
    height:14.36vmin;
    border:0.5vmin solid #1F6F3F;
    margin-top: -0.5vmin;
    border-right-width:0px;
    margin-left: 75.5vmin;
    position:absolute;
}
.circle{
    width:14.53vmin;
    height:14.53vmin;
    margin-top: -0.7vmin;
    border:0.5vmin solid #1F6F3F;
    margin-left: -43.4vmin;
    border-radius: 50%;
    position:absolute;
}
.goal-circle1{
    width:3.67vmin;
    height:11.28vmin;
    margin-top: 1.19vmin;
    border: 0.5vmin solid #1F6F3F;
    border-left: 0px;
    margin-left: -20.51vmin;
    border-radius: 0 100% 100% 0 / 50%;
    position:absolute;
}
.goal-circle2{
    width:3.67vmin;
    height:11.28vmin;
    margin-top: -0.08vmin;
    border:0.5vmin solid #1F6F3F;
    border-right: 0px;
    margin-left: 51vmin;
    border-radius: 100% 0 0 100% / 50%;
    position:absolute;
}