.football-field {
    background: var(--green);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 50vmin;
    border: 0.5vmin solid #1F6F3F;
    background-image:
        radial-gradient(circle at 0% 0%, transparent 1%, #1F6F3F 0 1.5%, transparent 0),
        radial-gradient(circle at 100% 0%, transparent 1%, #1F6F3F 0 1.5%, transparent 0),
        radial-gradient(circle at 0% 100%, transparent 1%, #1F6F3F 0 1.5%, transparent 0),
        radial-gradient(circle at 100% 100%, transparent 1%, #1F6F3F 0 1.5%, transparent 0),
        radial-gradient(circle at 50% 50%, #1F6F3F 1%, transparent 0),
        radial-gradient(circle at 50% 50%, transparent 14%, #1F6F3F 0 14.75%, transparent 0),
        radial-gradient(circle at 16% 50%, transparent 10%, #1F6F3F 0 10.5%, transparent 0),
        radial-gradient(circle at 84% 50%, transparent 10%, #1F6F3F 0 10.5%, transparent 0),
        linear-gradient(to right, transparent 49.75%, #1F6F3F 0 50.25%, transparent 0),
        repeating-linear-gradient(to right, var(#178B4E) 0 10%, var(#178B4E) 0 20%);
    
}
.football-field::before{
    content:"";
    display: block;
    position: absolute;
    width: 5.8%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 25%;
    background: var(#178B4E);
    box-shadow: 
        inset 0 0 0 5vmin var(#178B4E),
        0 0 0 0.35vmin #1F6F3F,
        1.2vmin 0 0 1.2vmin var(#178B4E),
        1.2vmin 4vmin 0 1.2vmin var(#178B4E),
        1.2vmin -4vmin 0 1.2vmin var(#178B4E),
        5.2vmin 0 0 5.2vmin var(#178B4E),
        5.2vmin 0 0 5.5vmin #1F6F3F,
        74.5vmin 0 var(#178B4E),
        74.5vmin 0 0 0.35vmin #1F6F3F,
        73.3vmin 0 0 1.2vmin var(#178B4E),
        73.3vmin 4vmin 0 1.2vmin var(#178B4E),
        73.3vmin -4vmin 0 1.2vmin var(#178B4E),
        69.2vmin 0 0 5.2vmin var(#178B4E),
        69.2vmin 0 0 5.5vmin #1F6F3F,
        -4vmin 0 0 -2vmin #0003,
        78.5vmin 0 0 -2vmin #0003
}