/* ==========================================================================
   Forms
   ========================================================================== */

form {
  margin: 0 0 5px 0;
  padding: 1em;
  background-color: $form-background-color;

  fieldset {
    margin-bottom: 5px;
    padding: 0;
    border-width: 0;
  }

  legend {
    display: block;
    width: 100%;
    margin-bottom: 5px * 2;
    *margin-left: -7px;
    padding: 0;
    color: $text-color;
    border: 0;
    white-space: normal;
  }

  p {
    margin-bottom: calc(5px / 2);
  }

  ul {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
  }

  br {
    display: none;
  }
}

label,
input,
button,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

input,
button,
select,
textarea {
  box-sizing: border-box;
  font-family: $sans-serif;
}

label {
  display: block;
  margin-bottom: 0.25em;
  color: $text-color;
  cursor: pointer;

  small {
    font-size: $type-size-6;
  }

  input,
  textarea,
  select {
    display: block;
  }
}

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 0.25em;
  margin-bottom: 0.5em;
  color: $text-color;
  background-color: $background-color;
  border: $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border-radius: 0;
  border: 0 \9;
  box-shadow: none;
}
.pc-hidden {
  display: block;
}
.mb-hidden {
  display: block;
}
@media (min-width: 1024px) {
  .pc-hidden {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .mb-hidden {
    display: none !important;
  }
}
input[type="checkbox"],
input[type="radio"] {
  --active: #275EFE;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, .3);
  --border: #BBC1E1;
  --border-hover: #275EFE;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background .3s, border-color .3s, box-shadow .2s;
  .menu {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
  }
  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
  }
  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  &:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    & + label {
      cursor: not-allowed;
    }
  }
  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }
  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  &:not(.switch) {
    width: 21px;
    &:after {
      opacity: var(--o, 0);
    }
    &:checked {
      --o: 1;
    }
  }
  & + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
}
input[type='checkbox'] {
  &:not(.switch) {
    border-radius: 7px;
    &:after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    &:checked {
      --r: 43deg;
    }
  }
  &.switch {
    width: 38px;
    border-radius: 11px;
    &:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: .6;
        }
      }
    }
  }
}
input[type='radio'] {
  border-radius: 50%;
  &:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, .7));
  }
  &:checked {
    --s: .5;
  }
}

input[type="image"] {
  border: 0;
}

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  box-shadow: none;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}

input[type="text"] {
  width: 60%;
  height: 3em;
  font-size: 1em;
  border: 0;
  border-radius: 2em;
  outline: none;
  padding-left: 1.5em;
  margin-left: 1em;
  background-color: #f2f2f2;
  box-shadow: none;
  &::placeholder {
    color: #aaa;
    font-style: italic;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(160, 105, 195, .3);//rgba(39, 94, 254, .3);
  }
}

select,
input[type="file"] {
  *margin-top: 4px;
}

select {
  width: auto;
  background-color: #fff;
}

select[multiple],
select[size] {
  height: auto;
}

textarea {
  resize: vertical;
  height: auto;
  overflow: auto;
  vertical-align: top;
}

input[type="hidden"] {
  display: none;
}

.form {
  position: relative;
}

.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/*
     Disabled state
     ========================================================================== */

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
}

/*
     Focus & active state
     ========================================================================== */

input:focus,
textarea:focus {
  border-color: $primary-color;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 3px rgba($text-color, 0.06),
    0 0 5px rgba($primary-color, 0.7);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  box-shadow: none;
}

/*
     Help text
     ========================================================================== */

.help-block,
.help-inline {
  color: $muted-text-color;
}

.help-block {
  display: block;
  margin-bottom: 1em;
  line-height: 1em;
}

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

/*
     .form-group
     ========================================================================== */

.form-group {
  margin-bottom: 5px;
  padding: 0;
  border-width: 0;
}

/*
     .form-inline
     ========================================================================== */

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}

.form-inline label {
  display: inline-block;
}

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/*
     .form-search
     ========================================================================== */

.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}

.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  border-radius: 14px;
}

.form-search label {
  display: inline-block;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/*
     .form--loading
     ========================================================================== */

.form--loading:before {
  content: "";
}

.form--loading .form__spinner {
  display: block;
}

.form:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.form__spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
}
