:root {
    --bg-color: $background-color;
    --con-color: #f2f2f2;
    --text-color: $text-color;
    --default-font: $sans-serif;
    --button-color: #24A091;
    --font: 'termina', sans-serif;
    --back-height: 200vh;
}

.square-container {
    position:relative;
    background:none;
    overflow: hidden;
    width:94vw;
    height: var(--back-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background-color;
    border-radius: 1rem;
    margin: 0 3vw;
}
// .square-container .background-square {
//     background-color: #24A091;
//     border-radius: 1rem;
//     opacity: 0.3;
//     position: absolute;
//     border-radius: 50%;
//     transform: rotate(-50deg);
//     @include breakpoint($large) {
//         &:nth-child(1) {
//             width: 50rem;
//             height: 50rem;
//             top: -18rem;
//             left: 75vw;
//         }
//         &:nth-child(2) {
//             width: 50rem;
//             height: 50rem;
//             top: 32em;
//             left: -20rem;
//         }
//     }
// }
.welcome-container {
    height:90vh;
    // border:1px solid red;
    background-color:$background-color;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-container2 {
    // border:1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.welcome-logo {
    // border:1px solid blue;
    height:5em;
    @include breakpoint($large){
        height:10em;
    }
    >a {
        height: 100%;
        >img {
            height: 100%;
        }
    }
}
.welcome {
    line-height: 3.5rem;
    font-size: $type-size-3;
    @include breakpoint($large){
        font-size: 4.5rem;
    }
    color: $text-color;
    width: 18rem;
    @include breakpoint($large){
        width: 50rem;
    }
    white-space: nowrap;
    > h1 {
        font-family: var(--font);
        font-weight: 700;
        position: relative;
        margin-bottom: 0;
        > a {
        font-family: var(--font);
        color: $text-color;
        text-decoration: none;
        display: flex;
        > img {
            transform: scaleX(-1);
            height: 3.5rem;
            margin-right: 0.5rem;
        }
        }
        > a:hover {
        /* color: #24A091; */
        text-decoration: none;
        filter: brightness(0.8);
        }
    }
}
// .welcome::before {
//     content: url('/images/logo.png');
//     /* background: url('/images/background/welcome.jpg'); */
//     // background-color: #24A091;
//     // background-size: cover;
//     // background-position: center;
//     // transform: rotate(-60deg);
//     // border-radius: 50%;
//     opacity: 0.8;
//     position: absolute;
//     top: 0px;
//     left: -4em;
//     right: 0px;
//     bottom: 0px;
//     }
//     @media (max-width: 1024px) {
//     .welcome{
//         margin-left:5vmin;
//     }
// }
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents-container {
    position: relative;
    background-color: $box-color;
    @include breakpoint($large) {
        width: 60%;
    }
    width: 90%;
    border-radius: 1rem;
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    > h1 {
        font-size: $type-size-2;
        font-family: var(--font);
        position: relative;
        > a {
        color: $text-color;
        text-decoration: none;
        display: flex;
        > img {
            height: 3.5rem;
            margin-right: 0.5rem;
        }
        }
        > a:hover {
        color: $text-color;
        text-decoration: none;
        filter: brightness(1.8);
        }
    }
    > h2 {
        font-family: var(--font);
        font-weight: 500;
    }
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > button {
        margin: 0.5rem 2%;
        width: 11em;
        height: 11em;
        border: 2px solid var(--button-color);
        border-radius: 0.5rem;
        background-color: transparent;
        color: var(--button-color);
        font-family: var(--font);
        font-weight: 500;
        font-size: $type-size-6;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > i {
        transition: none;
        font-size: $type-size-1;
        margin-bottom: 1rem;
        }
        &:hover {
        background-color: var(--button-color);
        color: #fff;
        border-color: var(--button-color);
        }
    }
}
.recent-posts {
    border: none;
    position: relative;
    margin-top: 1rem;
    > h2 {
        font-family: var(--font);
        color: $text-color;
        font-weight: 500;
    }
    .post-image {
        border-radius: 0.5rem;
        filter: opacity(0.5);
        overflow: hidden;
        height: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @include breakpoint($large){
            height: 10em;
        }
        transition: all 0.3s ease-in-out;
    }
    .post-image img {
        transition: all 0.3s ease-in-out;
    }
    > div a h3 {
        color: $text-color;
        font-family: 'rixgwangalli-pro', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: $type-size-5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    div a .category-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.posts {
    width: 33.33%;
    padding: 0.5rem;
    cursor: pointer;
}
.posts:hover {
    .post-image img {
        transform: scale(1.05);
    }
    .post-image {
        filter: opacity(1);
    }
}
.post-category {
    color:$text-color;
    font-weight:300;
    font-size: 0.1em;
    font-family: $sans-serif;
    @include breakpoint($large){
        font-size: 0.6em;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
        font-family: $sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.1em;
        @include breakpoint($large){
            font-size: 0.6em;
        }
    }
}
.home-more {
    cursor: pointer;
    position: absolute;
    right: 0px;
    color: $text-color;
}