/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;
    align-items: center;

    @include breakpoint($small) {
      max-width: $small;
    }
    @include breakpoint($medium) {
      max-width: $medium;
    }
    @include breakpoint($medium-wide) {
      max-width: $medium-wide;
    }
    @include breakpoint($large) {
      max-width: $large;
    }
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 900;
  font-family: $title-font, sans-serif;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;

  .selected {
    border-top: 3px solid orange;
    margin-top: -3px;
  }

  &--lg {
    padding-left: 2em;
    font-weight: 700;
  }
}
