/* ==========================================================================
   TABLES
   ========================================================================== */
@font-face {
  font-family: 'chaney-ultraextended';
  src: url('/fonts/chaney-ultraextended.woff') format('woff');
}
@font-face {
  font-family: 'Radikal Bold';
  src: url('/fonts/Radikal-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Futura Maxi CG Bold';
  src: url('/fonts/Futura-Maxi-CG-Bold.woff') format('woff');
}
@font-face {
  font-family: 'DIN Next Bold';
  src: url('/fonts/din-next-bold.woff') format('woff');
}
@font-face {
  font-family: 'Novarese Bold';
  src: url('/fonts/Novarese-Bold.woff') format('woff');
}
@font-face {
  font-family: 'KLeagueBasic Medium';
  src: url('/fonts/KLeagueBasic-Medium.woff') format('woff');
}
@font-face {
  font-family: 'LigueV Bold';
  src: url('/fonts/LigueV-Bold.woff') format('woff');
}
table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
/* lck standings */
.lck_container {
  margin: 30px 0px;
  width: 100vmin !important;
  height: 56vmin !important;
  border: none;
  border-radius: 15px;
  background: #f2f2f2;
}
.lck_title{
  margin: 1vmin 0;
  font-family: 'chaney-ultraextended';
  text-align: center;
  font-size: 6vmin;
}
.dataframe.lck-standings {
  width: 47%;
  height: 79%;
  position: relative;
  float: left;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 1.5vmin;
  margin: -1.7vmin 0 0 2vmin;
}
.dataframe.lck-standings thead {
  height: 2vmin;
  background: none;
  font-weight: bold;
  border-width: 0px !important;
}
.dataframe.lck-standings thead th {
  background: none;
  font-size: 0.5vmin;
  text-align: center;
}
.dataframe.lck-standings thead th:first-child,
.dataframe.lck-standings thead th:nth-child(2),
.dataframe.lck-standings thead th:nth-child(3) {
  border-right: $text-color 1px solid;
}
.dataframe.lck-standings tbody {
  font-size: 2vmin;
  font-weight: bold;
  color: #fff;
}

.dataframe.lck-standings td{
  border: none;
}
.dataframe.lck-standings tr{
  border: none;
}
.dataframe.lck-standings tbody tr:first-child,
.dataframe.lck-standings tbody tr:nth-child(2),
.dataframe.lck-standings tbody tr:nth-child(3),
.dataframe.lck-standings tbody tr:nth-child(4),
.dataframe.lck-standings tbody tr:nth-child(5) {
  border-radius: 5px;
  background: $text-color;
  box-shadow: 0px 0px 0px 4px $text-color;
}
.dataframe.lck-standings tbody td:first-child{
  width: 6vmin;
  background-color: #f2f2f2;
  border-radius: 5px 0 0 5px;
  color: $text-color;
  border: $text-color 0.15vmin solid;
}
.dataframe.lck-standings tbody td:nth-child(2) {
  width: 20vmin;
  font-family: 'chaney-ultraextended';
  font-weight : bold;
  border-right: #f2f2f2 1px solid;
}
.dataframe.lck-standings tbody td:nth-child(2) > img{
  position: relative;
  max-height: 5vmin;
  vertical-align: middle;
  margin-right: 2vmin;
}
.dataframe.lck-standings tbody td:nth-child(3) {
  border-right: #f2f2f2 1px solid;
}

/* football standings */
.table_container {
  margin: 30px 0px;
  width: 100vmin !important;
  border: none;
  border-radius: 15px;
  // box-shadow: 0px 0px 15px 0px lightslategray;
  overflow-x: auto;
  backdrop-filter: blur(10px);
  /* background: linear-gradient(45deg, #f2f2f2, lightgray); */
  background: #f2f2f2;//rgba(220, 220, 230, 0.6);

}
.football_title{
  margin: 4vmin 0;
  font-family: 'Futura Maxi CG Bold';
  text-align: center;
  font-size: 6vmin;
  color: $text-color;
  background-color: #f2f2f2;
}
.dataframe.premierleague-standings,
.dataframe.laliga-standings,
.dataframe.seriea-standings,
.dataframe.bundesliga-standings,
.dataframe.ligue1-standings,
.dataframe.kleague1-standings {
  width: 100%!important;
  position: relative !important;
  text-align: center !important;
  border: none !important;
  border-collapse: separate !important;
  display: table !important;
  border-spacing: 5.6vmin 1vmin;
}
.dataframe.premierleague-standings thead th,
.dataframe.laliga-standings thead th,
.dataframe.seriea-standings thead th,
.dataframe.bundesliga-standings thead th,
.dataframe.ligue1-standings thead th,
.dataframe.kleague1-standings thead th {
  padding: 15px 10px;
  color:#000;
  background-color: #f2f2f2 !important;
  font-size:14px !important;
  text-align: center !important;
  font-weight: bold !important;
  border-bottom: 0.2vmin solid #c2c2c2 !important;
}
.dataframe.premierleague-standings tbody td,
.dataframe.laliga-standings tbody td,
.dataframe.seriea-standings tbody td,
.dataframe.bundesliga-standings tbody td,
.dataframe.ligue1-standings tbody td,
.dataframe.kleague1-standings tbody td {
  padding: 5px 0px;
  font-size:14px !important;
  border-bottom: 0px !important;
}
// .dataframe.premierleague-standings tbody tr:hover td,
// .dataframe.laliga-standings tbody tr:hover td,
// .dataframe.seriea-standings tbody tr:hover td,
// .dataframe.bundesliga-standings tbody tr:hover td,
// .dataframe.ligue1-standings tbody tr:hover td,
// .dataframe.kleague1-standings tbody tr:hover td {
//   background:rgba(220, 220, 230, 0.5)!important;
//   color: #000;
// }
.dataframe.premierleague-standings tbody tr,
.dataframe.laliga-standings tbody tr,
.dataframe.seriea-standings tbody tr,
.dataframe.bundesliga-standings tbody tr,
.dataframe.ligue1-standings tbody tr,
.dataframe.kleague1-standings tbody tr {
color:#000;
font-weight:bold;
}

/* --------- Champions League ---------- */
.dataframe.premierleague-standings tbody tr:first-child td:first-child,
.dataframe.premierleague-standings tbody tr:nth-child(2) td:first-child,
.dataframe.premierleague-standings tbody tr:nth-child(3) td:first-child,
.dataframe.premierleague-standings tbody tr:nth-child(4) td:first-child,
.dataframe.laliga-standings tbody tr:first-child td:first-child,
.dataframe.laliga-standings tbody tr:nth-child(2) td:first-child,
.dataframe.laliga-standings tbody tr:nth-child(3) td:first-child,
.dataframe.laliga-standings tbody tr:nth-child(4) td:first-child,
.dataframe.seriea-standings tbody tr:first-child td:first-child,
.dataframe.seriea-standings tbody tr:nth-child(2) td:first-child,
.dataframe.seriea-standings tbody tr:nth-child(3) td:first-child,
.dataframe.seriea-standings tbody tr:nth-child(4) td:first-child,
.dataframe.bundesliga-standings tbody tr:first-child td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-child(2) td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-child(3) td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-child(4) td:first-child,
.dataframe.ligue1-standings tbody tr:first-child td:first-child,
.dataframe.ligue1-standings tbody tr:nth-child(2) td:first-child {
  background-color: #1e746a !important;
  color: #f2f2f2 !important;
  border-radius: 13px;
}
/* --------- Champions League qualification ---------- */
.dataframe.ligue1-standings tbody tr:nth-child(3) td:first-child {
  background-color: #637721 !important;
  color: #f2f2f2 !important;
  border-radius: 13px;
}

/* --------- Europa League ---------- */
.dataframe.premierleague-standings tbody tr:nth-child(5) td:first-child,
.dataframe.premierleague-standings tbody tr:nth-child(6) td:first-child,
.dataframe.laliga-standings tbody tr:nth-child(5) td:first-child,
.dataframe.laliga-standings tbody tr:nth-child(6) td:first-child,
.dataframe.seriea-standings tbody tr:nth-child(5) td:first-child,
.dataframe.seriea-standings tbody tr:nth-child(6) td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-child(5) td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-child(6) td:first-child,
.dataframe.ligue1-standings tbody tr:nth-child(4) td:first-child{
  background-color: #3426b1 !important;
  color: #f2f2f2;
  border-radius: 13px;
}

/* --------- Europa Conference League ---------- */
.dataframe.premierleague-standings tbody tr:nth-child(7) td:first-child,
.dataframe.laliga-standings tbody tr:nth-child(7) td:first-child,
.dataframe.seriea-standings tbody tr:nth-child(7) td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-child(7) td:first-child,
.dataframe.ligue1-standings tbody tr:nth-child(5) td:first-child {
  background: #15bfdd !important;
  color: #f2f2f2;
  border-radius: 13px;
}
/* --------- Relegation qualification---------- */
.dataframe.bundesliga-standings tbody tr:nth-last-child(3) td:first-child {
  background: #637721 !important;
  color: #f2f2f2;
  border-radius: 13px;
}

/* --------- Relegation ---------- */
.dataframe.premierleague-standings tbody tr:last-child td:first-child,
.dataframe.premierleague-standings tbody tr:nth-last-child(2) td:first-child,
.dataframe.premierleague-standings tbody tr:nth-last-child(3) td:first-child,
.dataframe.laliga-standings tbody tr:last-child td:first-child,
.dataframe.laliga-standings tbody tr:nth-last-child(2) td:first-child,
.dataframe.laliga-standings tbody tr:nth-last-child(3) td:first-child,
.dataframe.seriea-standings tbody tr:last-child td:first-child,
.dataframe.seriea-standings tbody tr:nth-last-child(2) td:first-child,
.dataframe.seriea-standings tbody tr:nth-last-child(3) td:first-child,
.dataframe.bundesliga-standings tbody tr:last-child td:first-child,
.dataframe.bundesliga-standings tbody tr:nth-last-child(2) td:first-child,
.dataframe.ligue1-standings tbody tr:last-child td:first-child,
.dataframe.ligue1-standings tbody tr:nth-last-child(2) td:first-child,
.dataframe.ligue1-standings tbody tr:nth-last-child(3) td:first-child,
.dataframe.ligue1-standings tbody tr:nth-last-child(4) td:first-child {
  background:#ad2022 !important;
  color: #f2f2f2;
  border-radius: 13px;
}
// .dataframe.premierleague-standings tbody span {
// font-weight:bold;
// padding:10px 15px;
// border-radius:50%;
// }
// .dataframe.premierleague-standings tbody tr:first-child span {
// background:#5055CB;
// color:white;
// }
// .dataframe.premierleague-standings tbody tr span {
// background:#262626;
// color:#747474;
// }