/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}

/* football standings */
.table_container {
  margin: 30px 0px;
  width: 600px !important;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px lightslategray;
  overflow-x: auto;
  backdrop-filter: blur(10px);
  /* background: linear-gradient(45deg, #f2f2f2, lightgray); */
  background: rgba(220, 220, 230, 0.6);
  
}
.football_standings {
  width: 100%;
  position: relative !important;
  text-align: center !important;
  line-height: 1.2;
  
  border-collapse: collapse !important;
  border: none !important;
  
}
.football_standings thead th {
padding: 15px 10px;
color:#000;
font-size:14px !important;
text-align: center !important;
font-weight: 1000 !important;
}
.football_standings tbody td {
padding: 5px 0px;
font-size:14px !important;
}
.football_standings tbody tr:hover td {
  background:rgba(220, 220, 230, 0.5)!important;
  color: #000;
}
.football_standings tbody tr {
color:#000;
font-weight:bold;
}
.football_standings tbody tr:first-child,
.football_standings tbody tr:nth-child(2),
.football_standings tbody tr:nth-child(3),
.football_standings tbody tr:nth-child(4) {
color: #3426b1 !important;
  &:hover td{
      color: #3426b1;
  }
}
.football_standings tbody tr:nth-child(5),
.football_standings tbody tr:nth-child(6){
color: #1e746a !important;
  &:hover td{
      color: #1e746a;
  }
}
.football_standings tbody tr:nth-child(7){
color: #637721 !important;
  &:hover td{
      color: #637721;
  }
}
.football_standings tbody tr:last-child,
.football_standings tbody tr:nth-last-child(2),
.football_standings tbody tr:nth-last-child(3) {
color:#ad2022 !important;
  &:hover td{
      color:#ad2022;
  }
}
.football_standings tbody span {
font-weight:bold;
padding:10px 15px;
border-radius:50%;
}
.football_standings tbody tr:first-child span {
background:#5055CB;
color:white;
}
.football_standings tbody tr span {
background:#262626;
color:#747474;
}