/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/ */

.hidden,
.is--hidden {
  display: none;
  visibility: hidden;
}

/* for preloading images */

.load {
  display: none;
}

.transparent {
  opacity: 0;
}

/* https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html */

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

/* screen readers */

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  clip: auto !important;
  height: auto !important;
  width: auto !important;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  background: #fff;
  z-index: 100000;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

/*
   Skip links
   ========================================================================== */

.skip-link {
  position: fixed;
  z-index: 20;
  margin: 0;
  font-family: $sans-serif;
  white-space: nowrap;
}

.skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}

/*
   Type
   ========================================================================== */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

/*
   Task lists
   ========================================================================== */

.task-list {
  padding:0;

  li {
    list-style-type: none;
  }

  .task-list-item-checkbox {
    margin-right: 0.5em;
    opacity: 1;
  }
}

.task-list .task-list {
  margin-left: 1em;
}

/*
   Alignment
   ========================================================================== */

/* clearfix */

.cf {
  clear: both;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*
   Images
   ========================================================================== */

/* image align left */

.align-left {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    float: left;
    margin-right: 1em;
  }
}

/* image align right */

.align-right {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    float: right;
    margin-left: 1em;
  }
}

/* image align center */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* file page content container */

.full {
  @include breakpoint($large) {
    margin-right: -1 * span(2.5 of 12) !important;
  }
}

/*
   Icons
   ========================================================================== */

.icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1.1em;
  line-height: 1;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

/* social icons*/

.social-icons {
  .fas,
  .fab,
  .far,
  .fal {
    color: $text-color;
  }

  .fa-behance,
  .fa-behance-square {
    color: $behance-color;
  }

  .fa-bitbucket {
    color: $bitbucket-color;
  }

  .fa-dribbble,
  .fa-dribble-square {
    color: $dribbble-color;
  }

  .fa-facebook,
  .fa-facebook-square,
  .fa-facebook-f {
    color: $facebook-color;
  }

  .fa-flickr {
    color: $flickr-color;
  }

  .fa-foursquare {
    color: $foursquare-color;
  }

  .fa-github,
  .fa-github-alt,
  .fa-github-square {
    color: $github-color;
  }

  .fa-gitlab {
    color: $gitlab-color;
  }

  .fa-instagram {
    color: $instagram-color;
  }

  .fa-keybase {
    color: $keybase-color;
  }

  .fa-lastfm,
  .fa-lastfm-square {
    color: $lastfm-color;
  }

  .fa-linkedin,
  .fa-linkedin-in {
    color: $linkedin-color;
  }

  .fa-mastodon,
  .fa-mastodon-square {
    color: $mastodon-color;
  }

  .fa-pinterest,
  .fa-pinterest-p,
  .fa-pinterest-square {
    color: $pinterest-color;
  }

  .fa-reddit {
    color: $reddit-color;
  }

  .fa-rss,
  .fa-rss-square {
    color: $rss-color;
  }

  .fa-soundcloud {
    color: $soundcloud-color;
  }

  .fa-stack-exchange,
  .fa-stack-overflow {
    color: $stackoverflow-color;
  }

  .fa-tumblr,
  .fa-tumblr-square {
    color: $tumblr-color;
  }

  .fa-twitter,
  .fa-twitter-square {
    color: $twitter-color;
  }

  .fa-vimeo,
  .fa-vimeo-square,
  .fa-vimeo-v {
    color: $vimeo-color;
  }

  .fa-vine {
    color: $vine-color;
  }

  .fa-youtube {
    color: $youtube-color;
  }

  .fa-xing,
  .fa-xing-square {
    color: $xing-color;
  }

  .fa-comment {
    color: #FDDC3F;   // 노랑색
  }
}

/*
   Navicons
   ========================================================================== */

.navicon {
  position: relative;
  width: $navicon-width;
  height: $navicon-height;
  background: $primary-color;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: $navicon-width;
    height: $navicon-height;
    background: $primary-color;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:before {
    top: (-2 * $navicon-height);
  }

  &:after {
    bottom: (-2 * $navicon-height);
  }
}

.close .navicon {
  /* hide the middle line*/
  background: transparent;

  /* overlay the lines by setting both their top values to 0*/
  &:before,
  &:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: $navicon-width;
  }

  /* rotate the lines to form the x shape*/
  &:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  &:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

.greedy-nav__toggle {
  &:before {
    @supports (pointer-events: none) {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: $background-color;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      pointer-events: none;
    }
  }

  &.close {
    &:before {
      opacity: 0.9;
      -webkit-transition: $global-transition;
      transition: $global-transition;
      pointer-events: auto;
    }
  }
}

.greedy-nav__toggle:hover {
  .navicon,
  .navicon:before,
  .navicon:after {
    background: mix(#000, $primary-color, 25%);
  }

  &.close {
    .navicon {
      background: transparent;
    }
  }
}

/*
   Sticky, fixed to top content
   ========================================================================== */

.sticky {
  @include breakpoint($large) {
    @include clearfix();
    position: -webkit-sticky;
    position: sticky;
    top: 2em;

    > * {
      display: block;
    }
  }
}

/*
   Wells
   ========================================================================== */

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*
   Modals
   ========================================================================== */

// .show-modal {
//   overflow: hidden;
//   position: relative;

//   &:before {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 999;
//     background-color: rgba(255, 255, 255, 0.85);
//   }

//   .modal {
//     display: block;
//   }
// }

// .modal {
//   display: none;
//   position: fixed;
//   width: 300px;
//   top: 50%;
//   left: 50%;
//   margin-left: -150px;
//   margin-top: -150px;
//   min-height: 0;
//   z-index: 9999;
//   background: #fff;
//   border: 1px solid $border-color;
//   border-radius: $border-radius;
//   box-shadow: $box-shadow;

//   &__title {
//     margin: 0;
//     padding: 0.5em 1em;
//   }

//   &__supporting-text {
//     padding: 0 1em 0.5em 1em;
//   }

//   &__actions {
//     padding: 0.5em 1em;
//     border-top: 1px solid $border-color;
//   }
// }
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 3% 3%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.85);
}

.modal-content {
  margin: auto;
  display: block;
  border: none;
  background: none;
  -webkit-user-drag: none;
  transition: transform 0.3s ease;
}

.close {
  background-color: $border-color;
  border-radius: 50%;
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  text-align: center;
  line-height: 2.8vmin;
  top: 1vmin;
  right: 1.5vmin;
  color: #fff;
  font-size: 2vmin;
  font-weight: 900;
  cursor: pointer;
  z-index: 9999;
  transition: 0.3s ease;
}
.close:hover,
.close:focus {
  background-color: $text-color;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
}

.caption {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.gallery-img {
  object-fit: cover;
  cursor: pointer;
  border-radius: 1vmin;
  box-shadow: none;
}
/*
   Spoiler
   ========================================================================== */
.spoiler {
  position: relative;
  color: white;
}
.spoiler.active {
  color: transparent;
  text-shadow: 0 0 1vmin #fff;
  transition : all 0.5s;
}
.spoiler:hover {
  color: #fff;
  text-shadow: 0 0 0 transparent;
  transition: all 0.5s;
}

/*
   Toggle
   ========================================================================== */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  // input[type='checkbox'],
  // input[type='radio'] {
    // --active: #aaa;
    // --active-inner: #fff;
    // --focus: 2px rgba(255, 255, 255, .3);
    // --border: #BBC1E1;
    // --border-hover: #aaa;
    // --background: #fff;
    // --disabled: #F6F8FF;
    // --disabled-inner: #E1E6F9;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // height: 21px;
    // outline: none;
    // display: inline-block;
    // vertical-align: top;
    // position: relative;
    // margin: 0;
    // cursor: pointer;
    // border: 1px solid var(--bc, var(--border));
    // background: var(--b, var(--background));
    // transition: background .3s, border-color .3s, box-shadow .2s;
    // &:after {
    //   content: '';
    //   display: block;
    //   left: 0;
    //   top: 0;
    //   position: absolute;
    //   transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    // }
    // &:checked {
    //   --b: var(--active);
    //   --bc: var(--active);
    //   --d-o: .3s;
    //   --d-t: .6s;
    //   --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    // }
    // &:disabled {
    //   --b: var(--disabled);
    //   cursor: not-allowed;
    //   opacity: .9;
    //   &:checked {
    //     --b: var(--disabled-inner);
    //     --bc: var(--border);
    //   }
    //   & + label {
    //     cursor: not-allowed;
    //   }
    // }
    // &:hover {
    //   &:not(:checked) {
    //     &:not(:disabled) {
    //       --bc: var(--border-hover);
    //     }
    //   }
    // }
    // &:focus {
    //   box-shadow: 0 0 0 var(--focus);
    // }
    // &:not(.switch) {
    //   width: 21px;
    //   &:after {
    //     opacity: var(--o, 0);
    //   }
    //   &:checked {
    //     --o: 1;
    //   }
    // }
  //   & + label {
  //     font-size: 14px;
  //     line-height: 21px;
  //     display: inline-block;
  //     vertical-align: top;
  //     cursor: pointer;
  //     margin-left: 4px;
  //   }
  // }
  input[type='checkbox'] {
    // &:not(.switch) {
    //   border-radius: 7px;
    //   &:after {
    //     width: 5px;
    //     height: 9px;
    //     border: 2px solid var(--active-inner);
    //     border-top: 0;
    //     border-left: 0;
    //     left: 7px;
    //     top: 4px;
    //     transform: rotate(var(--r, 20deg));
    //   }
    //   &:checked {
    //     --r: 43deg;
    //   }
    // }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}


/*
   Footnotes
   ========================================================================== */

.footnote {
  color: mix(#fff, $gray, 25%);
  text-decoration: none;
}

.footnotes {
  color: mix(#fff, $gray, 25%);

  ol,
  li,
  p {
    margin-bottom: 0;
    font-size: $type-size-6;
  }
}

a.reversefootnote {
  color: $gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*
   Required
   ========================================================================== */

.required {
  color: $danger-color;
  font-weight: bold;
}

/*
   Google Custom Search Engine
   ========================================================================== */

.gsc-control-cse {
  table,
  tr,
  td {
    border: 0; /* remove table borders widget */
  }
}

/*
   Responsive Video Embed
   ========================================================================== */

.responsive-video-container {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// full screen video fixes
:-webkit-full-screen-ancestor {
  .masthead,
  .page__footer {
    position: static;
  }
}
