---
layout: pages
title: "Paper Review"
permalink: /study/paper_review/
---

{% assign files = site.study | where: "category", "paper_review" %}
<hr>
{% for file in files %}
<div class="review__content" OnClick="location.href ='{{ file.url }}'">
    <div class="review__teaser">
        {% assign extensions = "jpg,png,gif" | split: ',' %}
        {% for ext in extensions %}
            <img src="/_pages/study/paper_review/teasers/{{ file.url | split: '/' | last }}.{{ ext }}" onerror="this.style.display='none'" class="review__image"></img>
        {% endfor %}
    </div>
    <div class="review__info">
        <div class="review__category">{{ file.subject }}</div>
        <div class="review__title">{{ file.title }}</div>
        <!-- <div class="review__description">{{ file.description }}</div> -->
    </div>
</div>
<hr>
{% endfor %}
